<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SCHEDULE_AUCTION_ADDR" value="tcp://172.31.32.20:2000"/>
    <add key="START_AUCTION_ADDR" value="tcp://172.31.32.21:2100"/>
    <add key="NOTIFY_BIDDERS_ADDR" value="tcp://172.31.32.22:2200"/>
    <add key="RUN_AUCTION_ADDR1" value="tcp://172.31.32.23:2300"/>
    <add key="RUN_AUCTION_ADDR2" value="tcp://172.31.32.23:2350"/>
    <add key="RUN_AUCTION_ADDR3" value="tcp://172.31.32.23:2360"/>
    <add key="RUN_AUCTION_ADDR4" value="tcp://172.31.32.23:2370"/>
    <add key="INITIALIZE_AUCTION_UI_ADDR" value="tcp://172.31.32.24:2400"/>
    <add key="UPDATE_BID_ADDR" value="tcp://172.31.32.25:2500"/>
    <add key="ANNOUNCE_RESULT_ADDR" value="tcp://172.31.32.28:2800"/>
    <add key="PLACE_BID_ADDR" value="tcp://172.31.32.29:2900"/>
  </appSettings>
</configuration>
